---
import { t, changeLanguage } from "i18next";
import { changeLanguage } from "i18next";
import { SITE, BLOG } from "~/config.mjs";
import Layout from "~/layouts/BlogLayout.astro";
import BlogList from "~/components/blog/List.astro";
import Pagination from "~/components/atoms/Pagination.astro";
import { fetchPosts } from "~/utils/posts";
import { getCanonical, getPermalink, BLOG_BASE } from "~/utils/permalinks";

changeLanguage("zh");

export async function getStaticPaths({ paginate }) {
    if (BLOG?.disabled)
        return [];
    const posts = await fetchPosts();
    return paginate(posts, {
        params: { blog: BLOG_BASE || undefined },
        pageSize: BLOG.postsPerPage,
    });
}
const { page } = Astro.props;
const currentPage = page.currentPage ?? 1;
const meta = {
    title: `Blog ${currentPage > 1 ? `— Page ${currentPage} ` : ""}— ${SITE.name}`,
    description: SITE.description,
    canonical: getCanonical(getPermalink(page.url.current)),
};
---

<Layout meta={meta}>
  <Fragment slot="title">
    {t("site.description")}
    <span class="bg-clip-text text-transparent bg-gradient-to-r from-primary-500 to-secondary-500">AstroWind</span>
  </Fragment>
  <BlogList posts={page.data} />
  <Pagination prevUrl={page.url.prev} nextUrl={page.url.next} />
</Layout>
